.top-text {
	text-align: center;
	font-size: 60rpx;
	color: #f9668d;
	font-family: STXinwei;
	margin-top: 30rpx;
}

.mid-champion-img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	text-align: center;
	margin-top: 30rpx;
}

.floor-rank {
	margin-top: 50rpx;
}

.champion-img1 {
	grid-area: 1 / 1 / 2 / 2;
	margin-top: 72rpx;
}
.champion-img2 {
	grid-area: 1 / 2 / 2 / 3;
}
.champion-img3 {
	grid-area: 1 / 3 / 2 / 4;
	margin-top: 72rpx;
}

.champion-img-head-text {
	margin-bottom: 10rpx;
	font-weight: bold;
	font-size: 30rpx;
}

.champion-img-head-img {
	margin-bottom: -10rpx;
}

.floor-rank-cell {
	// height: 170rpx;
}

.floor-card-scroll-y {
	height: 900rpx;
}

.floor-rank-cell-no {
	margin-top: 50rpx;
}

.floor-rank-cell-img {
	margin-top: 10px;
}

.floor-rank-cell-name {
	margin-top: 50rpx;
}

.floor-rank-cell-text {
	margin-top: 50rpx;
}

.floor-rank-cell-text {
	color: #8c8c8c;
	font-size: 24rpx;
}

// 设置卡片模式背景
.floor-rank-cell-card {
	margin-top: 10rpx;
	margin-bottom: 10rpx;
	width: 100%;
	height: 150rpx;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0 4rpx 8rpx 0 rgba(0, 0, 0, 0.2);
	border-radius: 15rpx;
}

.floor-rank-cell-card:hover {
	box-shadow: 0 6rpx 20rpx 0 rgba(0, 0, 0, 0.19);
}

.champion-ticket {
	color: #8c8c8c;
	font-size: 24rpx;
}

.champion-img-text{
	margin-top: 20rpx;
}
